{{template "base" .}}

{{define "content"}}
    <div class="container mb-5 pb-5">
        <div class="row">
            <div class="col">
                <img src="/static/images/generals-quarters.png" alt="room image" class="img-fluid mx-auto d-block">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">General's Quarters</h1>
                <p>
                    The General's Quarters are the perfect place to relax and unwind. They are equipped with all the
                    amenities you need to relax and unwind.
                    The General's Quarters are the perfect place to relax and unwind. They are equipped with all the
                    amenities you need to relax and unwind.
                    The General's Quarters are the perfect place to relax and unwind. They are equipped with all the
                    amenities you need to relax and unwind.
                    The General's Quarters are the perfect place to relax and unwind. They are equipped with all the
                    amenities you need to relax and unwind.
                    The General's Quarters are the perfect place to relax and unwind. They are equipped with all the
                    amenities you need to relax and unwind.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
            </div>
        </div>
    </div>
{{end}}

{{ define "js"  }}
    <script src="/static/js/book.js"></script>
    <script>
       bookRoom("1", {{.CSRFToken}});
    </script>
{{ end }}